<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="./Register.css" rel="stylesheet" />
</head>
<body>
    <div class="main-section">
        <div class="heading">
            <h2 style="color: #F3CA20; font-family:sans-serif;">Stay With Us</h2>
        </div>
        <br>
        <div class="register-form">
            <form action="loginsubmit" method="POST">
                <div class="input-field">
                    <input type="text" name="email" for="uname" required>
                    <label id="uname">Email Id</label>
                </div>
                <br>
                <div class="input-field">
                    <input type="password" name="password" for="pass" required>
                    <label id="pass">Password</label>
                </div>
                <br>
                <div class="forget-pass redirect"><a  class="forget re" href="/forgetpasswod">Forget Password ?</a></div>
                <br>
                <div class="signup-redirect redirect">
                    Don't have an account?
                    <a href="/signup" class="signup-re re">Signup</a> 
                </div>
                <br>
                <button style="cursor:pointer;"class="submitbtn" type="submit">Submit</button>

                {% if unamealert %}
                <script>alert("Invalid Email Address")</script>
                {% endif %}
                
                {% if passalert %}
                <script>
                    alert("Invalid Password");
                </script>
                {% endif %}
            </form>
            
        </div>
    </div>
</body>
</html>
